package kantan.xpath

import kantan.xpath.laws.discipline.NodeDecoderTests
import kantan.xpath.laws.discipline.arbitrary._
import org.scalatest.FunSuite
import kantan.xpath.ops._
import org.scalatest.prop.GeneratorDrivenPropertyChecks
import org.typelevel.discipline.scalatest.Discipline

class TupleTests extends FunSuite with GeneratorDrivenPropertyChecks with Discipline {
  [#implicit val intDecoder1: NodeDecoder[Tuple1[[#Int#]]] = NodeDecoder.tuple1([#"@field1".xpath[Int]#])
  checkAll("NodeDecoder[Tuple1[[#Int#]]]", NodeDecoderTests[Tuple1[[#Int#]]].decoder[Int, Int])#

  ]

  [#implicit val floatDecoder1: NodeDecoder[Tuple1[[#Float#]]] = NodeDecoder.tuple1[[#Float#]]([#"@field1"#]).get
  checkAll("NodeDecoder[Tuple1[[#Float#]]]", NodeDecoderTests[Tuple1[[#Float#]]].decoder[Int, Int])#

  ]
}
