package kantan.xpath

trait Decoders {
  [#def decoder1[[#I1#], O](f: ([#I1#]) ⇒ O)([#x1: Expression#])(implicit [#e1: Evaluator[I1]#]): NodeDecoder[O] = NodeDecoder { n ⇒
    for {
      [#i1 ← e1.evaluate(x1, n)#
      ]
    } yield f([#i1#])
  }#
  ]
}
